* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: url("delia2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 25%;
}
